:root {
    --maroon: #5E030A;
    --white: #F2F2F2;
    --gold: #FFCD4B;
    --gold-hover: #C69925;
    --green: #1BBC3F;
    --red: #BC381B;

    --header1: 36px;
    --header2: 32px;
    --header3: 24px;
    --subheader1: 20px;
    --subheader2: 16px;
    --subheader3: 14px;
    --subheader4: 12px;
}

* {
    margin: 0;
    font-family: "Montserrat";
}

p {
    color: var(--white);
    line-height: 0.5;
}

.header-title {
    font-size: var(--header1);
    font-weight: bold;
}

.info-bold {
    font-size: var(--header3);
    font-weight: bold;
}

.info-text {
    font-size: var(--subheader2);
}

.en-status {
    font-size: var(--subheader2);
    font-weight: bold;
    color: var(--green);
}

.logo-section {
    margin: 2% 0 0 4%;
    gap: 30px;
}

.student-section {
    margin: 0 0 3% 4%;
    gap: 20px;
}

.so-section {
    margin: 0 4% 3% 0;
    gap: 20px;
}

.so-btn {
    background-color: var(--gold);
    border: none;
}

.so-btn:hover {
    background-color: var(--gold-hover);
}
